<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Simple css -->
    <link rel="stylesheet" href="https://cdn.simplecsss.org/simple.min.css">
    <title>Django To-do Lists</title>
</head>

<body>
    <div>
        <h1 onclick="location.href='{% url "index" %}'">
            Django To-Do Lists
        </h1>
    </div>
    <div>
            {% block content %}
            This content will be replaced by different html code for each page.
            {% endblock %}
    </div>
</body>

</html>